<p align="center"><em>It's better to look back on life and say: "I can't believe I did that", than to look back and say: "I wish I did that." - Unknown</em>

<h1>Hello there! 👋</h1>

Welcome to my page! My name is {{name}}, and I'm a junior at the Franklin W. Olin College of Engineering studying Engineering in Computing (CS).

<p><a href="https://github.com/DanPark13" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a> <a href="https://twitter.com/danjaepark" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a> <a href="https://www.linkedin.com/in/danielpark13/" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>
</p>

I have previous interned at [Pfizer](https://www.pfizer.com/) as a Business Enablement Solutions Analyst and [Saudi Aramco](https://www.aramco.com/) as a Digital Transformation Intern.

<h2><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Thanks for visiting, and I'm looking forward to connecting with you!</h2>
